
#gameSection {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    justify-content: center;
}

 #board {
    margin-top: 2px;
    width: 577px;
    height: 778px;
}

#board > img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: -2px;
    margin-bottom: -2px;
    border: 0.1px lightblue solid;
}

#puzzlePieces{
    margin-top: 2px;
     width: 594px;
    height: inherit;
    border: 2px black solid;
}

#puzzlePieces > img {
    margin: 2px;
}

button {
    cursor: pointer;
}

button:focus {
    background-color: #76b7c1;
  }




